.container {
  max-width: 1200px;
  margin: 0 auto;
}
/*section Mogo header*/

.mogo {
  width: 100%;
  height: 45px;
  margin-top: 17px;
}

.mogo-header {
  display: flex;
  justify-content: space-between;
}

/*Mogo name*/

.mogo-name {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #95E1D3;
  display: flex;
}

/*Mogo navigation*/

.mogo-nav_list {
  display: flex;
  align-items: center;
}

.mogo-nav_link:nth-child(4) {
  margin-right: 33px;
}

#mogo-nav_link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #95E1D3;
  margin-right: 55px;
}

#mogo-nav_link:hover  {
  color: #F38181;
}

.mogo-nav_link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #95E1D3;
  margin-right: 55px;
}

.mogo-nav_link:hover  {
  color: #F38181;
}

.mogo_rectangle {
  width: 50px;
  height: 3px;
  background-color: #F38181;
  margin-top: 10px;
}

/*section We work wiht*/

.we-work-with_info-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 68px;
}

.we-work-with_title-1 {
  font-family: "kaushan script", cursive;
  font-size: 24px;
  font-weight: 400;
}

.we-work-with_title-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 20px 0 40px 0;
}

.we-work-with_rectangle-1 {
  width: 60px;
  height: 4px;
  background-color: #F38181;
  margin-bottom: 65px;
}

/*section benefits*/

.photography {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.lorem {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #B6B6B6;
}

.item-img {
  width: 37px;
  height: 37px;
  padding-right: 18.2px;
}

.item {
  display: flex;
  width: 331.78px;
  height: 74px;
  margin-bottom: 105px;
}

.line-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*Who we are*/

.who-we-are_info-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 1104px;
  height: 221px;
  margin: 0 0 27px 0;
}

.who-we-are_title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.who-we-are_title-1 {
  font-family: "kaushan script", cursive;
  font-size: 24px;
  font-weight: 400;
  color: #333333;
  margin-bottom: 17px;
}

.who-we-are_title-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #333333;

}

.who-we-are_rectangle-2 {
  width: 60px;
  height: 4px;
  background-color: #F38181;
  margin: 36px 0 45px 0;
}

.who-we-are_lorem {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #B6B6B6;
  text-align: center;
}

/*who we are cards*/

.who-we-are_card-man {
  width: 1200px;
  height: 546px;
  display: flex;
  justify-content: space-between;
}

.card-man {
  width: 380px;
  height: 546px;
  text-align: center;
}

.card-img {
  width: 380px;
  height: 470px;
}

.card-title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
}

.card-paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #B6B6B6;
  font-style: italic;
}

/*section footer*/

.footer {
  margin: 80px 0 0 0;
}

.footer_items{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_rectangle-3 {
  width: 1200px;
  height: 1px;
  background-color: #B6B6B6;
  margin: 0 0 10px 0;
}

.footer_text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.text {
  color: #F38181;
}

/*footer form*/

.footer_form {
  display: flex;
  align-items: center;
}

.footer_form {
  width: 380px;
  height: 39px;
}

.footer_form input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #B6B6B6;
  font-style: italic;
}

.footer_form input {
  width: 230px;
  height: 39px;
  border: 1px solid #B6B6B6;
  box-sizing: border-box;
}

.footer_form button {
  width: 150px;
  height: 40px;
  background-color: #95E1D3;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  cursor: pointer;
}
