.container {
  max-width: 1200px;
  margin: 0 auto;
}
/*section Mogo header*/

.mogo {
  width: 100%;
  height: 45px;
  margin-top: 17px;
}

.mogo-header {
  display: flex;
  justify-content: space-between;
}

/*Mogo name*/

.mogo-name {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #95E1D3;
  display: flex;
}

/*Mogo navigation*/

.mogo-nav_list {
  display: flex;
  align-items: center;
}

.mogo-nav_link:nth-child(4) {
  margin-right: 33px;
}

#mogo-nav_link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #95E1D3;
  margin-right: 55px;
}

#mogo-nav_link:hover  {
  color: #F38181;
}

.mogo-nav_link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #95E1D3;
  margin-right: 55px;
}

.mogo-nav_link:hover  {
  color: #F38181;
}

.mogo_rectangle {
  width: 50px;
  height: 3px;
  background-color: #F38181;
  margin-top: 10px;
}

/*section We work wiht*/

.we-work-with_info-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 68px;
}

.we-work-with_title-1 {
  font-family: "kaushan script", cursive;
  font-size: 24px;
  font-weight: 400;
}

.we-work-with_title-2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding: 20px 0 40px 0;
}

.we-work-with_rectangle-1 {
  width: 60px;
  height: 4px;
  background-color: #F38181;
  margin-bottom: 65px;
}

/*section benefits*/

.photography {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.lorem {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #B6B6B6;
}

.item-img {
  width: 37px;
  height: 37px;
  padding-right: 18.2px;
}

.item {
  display: flex;
  width: 331.78px;
  height: 74px;
  margin-bottom: 105px;
}

.line-1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
