h4 {
  margin: 0;
}

h3 {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

hr {
  border: none;
  margin: 0;
}
